Source: ze-monitor
Section: utils
Priority: optional
Maintainer: James Ketrenos <james_zemonitor@ketrenos.com>
Build-Depends: debhelper (>= 11), g++, libncurses-dev, libze-dev
Standards-Version: 4.1.3

Package: ze-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libncurses6, libze1
Version: VERSION-RELEASE
Description: Device monitor using Level Zero Sysman
 A utility to monitor Level Zero devices using Level Zero Sysman.